body{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.mainback{
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.main{
  max-width: 1000px
  margin-left: auto;
  margin-right:auto;
  display: inline-block;
}
.member{
  margin: 15px;
}

.ruki{
  margin: 15px;
}
